In [2]:
import pandas as pd

A = {"bir": ["1","11","111","1111"],
     "iki": ["2","22","222","2222"]}

tablo1 = pd.DataFrame(A)
tablo1

    bir   iki
0     1     2
1    11    22
2   111   222
3  1111  2222

In [4]:
B = {"bir": ["1","11","111","1111"],
     "uc": ["3","33","333","3333"]}

tablo2 = pd.DataFrame(B)
tablo2

    bir    uc
0     1     3
1    11    33
2   111   333
3  1111  3333

In [6]:
#merge in concatten farki 1in iki tarafta da oldugunu anlar ve tekrarlamaz

tablo3 = pd.merge(tablo1, tablo2, on = "bir") #on bir demek ortak olana demektir
tablo3

    bir   iki    uc
0     1     2     3
1    11    22    33
2   111   222   333
3  1111  2222  3333