In [1]:
import pandas as pd
import numpy as np

idx1 = ["Ocak","Ocak","Ocak","Ocak","Şubat","Şubat","Şubat"]
idx2 = ["Hafta 1","Hafta 2","Hafta 3","Hafta 4","Hafta 1","Hafta 2","Hafta 3","Hafta 4"]

In [3]:
idx_m = list(zip(idx1, idx2))
idx_m

[('Ocak', 'Hafta 1'),
 ('Ocak', 'Hafta 2'),
 ('Ocak', 'Hafta 3'),
 ('Ocak', 'Hafta 4'),
 ('Şubat', 'Hafta 1'),
 ('Şubat', 'Hafta 2'),
 ('Şubat', 'Hafta 3'),
 ('Şubat', 'Hafta 4')]

In [7]:
idx_m = pd.MultiIndex.from_tuples(idx_m)
idx_m

MultiIndex([( 'Ocak', 'Hafta 1'),
            ( 'Ocak', 'Hafta 2'),
            ( 'Ocak', 'Hafta 3'),
            ( 'Ocak', 'Hafta 4'),
            ('Şubat', 'Hafta 1'),
            ('Şubat', 'Hafta 2'),
            ('Şubat', 'Hafta 3'),
            ('Şubat', 'Hafta 4')],
           )

In [23]:
liste = np.random.rand(8)

In [24]:
tablo = pd.DataFrame(data = liste, index = idx_m, columns = ["Satis"])
tablo

                  Satis
Ocak  Hafta 1  0.882456
      Hafta 2  0.941840
      Hafta 3  0.908096
      Hafta 4  0.138293
Şubat Hafta 1  0.174663
      Hafta 2  0.907120
      Hafta 3  0.555956
      Hafta 4  0.101596

In [25]:
tablo.loc[["Ocak"]]

                 Satis
Ocak Hafta 1  0.882456
     Hafta 2  0.941840
     Hafta 3  0.908096
     Hafta 4  0.138293

In [31]:
tablo.loc["Ocak"].loc["Hafta 3"]

Satis    0.908096
Name: Hafta 3, dtype: float64